<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu">
          <!--para menu aparecer no cantinho-->
        </ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4" ng-controller="ExhibitionTabCtrl">
    <form id="projetoTCCBrenda-form1">
        <ion-item id="projetoTCCBrenda-input2">
          <ion-label>
            Insira seu e-mail
          </ion-label>
          <ion-input type="text" name= "email" [(ngModel)]="use.email" placeholder=""></ion-input>
    
        </ion-item>
        <ion-item id="projetoTCCBrenda-input3">
          <ion-label>
            Insira uma senha
          </ion-label>
          <ion-input type="text"name= "pass" [(ngModel)]="use.password" placeholder=""></ion-input>
        </ion-item>
        <ion-item id="projetoTCCBrenda-input4">
            <ion-label>
              Insira seu nome
            </ion-label>
            <ion-input type="text"name= "nome" [(ngModel)]="use.nome" placeholder=""></ion-input>
          </ion-item>
      </form>
  <!-- <button ion-button (click)="cadastrar()">Cadastrar</button> -->

  <button id="cadastro-button9" ion-button color="balanced" block on-click="cadastrar(use)">
    Salvar
  </button>
  <button id="cadastro-button11" ion-button color="balanced" block on-click="goToProjetoTCCBrenda()">
    Voltar
  </button>

  <ion-list>
    <ion-item *ngFor="let user of usuario | async">
      <h2>{{user.nome}}</h2>
      <h3>{{user.email}}</h3>
      <!--ion-note item-right *ngIf="user.teste == 'true'">
         Vdd
       </ion-note-->
    </ion-item>
  </ion-list>

</ion-content>