<ion-header>
  <ion-navbar>

   <ion-title>
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4" ng-controller="ExhibitionTabCtrl">
  <form [formGroup]="form">
      <ion-item id="Home-input4">

          <ion-input type="text" formControlName="displayName" name="nome" [(ngModel)]="use.displayName" placeholder="Insira seu nome"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.displayName.valid && (form.controls.displayName.dirty || form.controls.displayName.touched)" color="danger">
          <div [hidden]="!form.controls.displayName.errors.required">
            O campo é obrigatório
          </div>
        </ion-item>

    <ion-item id="Home-input2">

      <ion-input type="email" formControlName="email" name="email" [(ngModel)]="use.email" placeholder="Insira seu e-mail"></ion-input>/
    </ion-item>
    <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
      <div [hidden]="!form.controls.email.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item id="Home-input3">

      <ion-input required minlength="6" type="password" formControlName="password" name="pass" [(ngModel)]="use.password" placeholder="Crie uma senha"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.password.valid && (form.controls.password.dirty || form.controls.password.touched)" color="yel">
      Mínimo 6 caracteres.
      <!-- <div [hidden]="!form.controls.password.errors.required">
        O campo é obrigatório
      </div> -->
    </ion-item>


  </form>

  <button id="cadastro-button9" [disabled]="!form.valid" ion-button color="balanced" block on-click="cadastrar(use)">
    Salvar
  </button>
  <button id="cadastro-button11" ion-button color="balanced" block on-click="goToHome()">
    Voltar
  </button>

  <!-- <ion-list>
    <ion-item *ngFor="let user of usuario | async">
      <h2>{{user.displayName}}</h2>
      <h3>{{user.email}}</h3>

    </ion-item>
  </ion-list> -->

</ion-content>