page-novoevento {
  #map{
                
    width: 100%;
    height: 50%;

}
    agm-map {
      height: 350px;
    
  }
  div.hid {
    display: none;

}
// .item{
//   overflow: inherit ;
//   text-overflow: inherit ;
//   white-space: normal ;
// }
  }
