<ion-header>
  <ion-navbar>

    <ion-buttons *ngIf="use | async" start>
      <button ion-button icon-only menuToggle>
        <div>

          <ion-icon name="menu">
            <!--para menu aparecer no cantinho-->
          </ion-icon>
        </div>

      </button>
    </ion-buttons>
    <ion-title> EventNow

    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <div class="bg" *ngIf="use | async; else elseBlock">
    <ion-slides pager>

      <ion-slide>
        <p text-justify>
          <ion-icon name="beer" color="yel"></ion-icon>
          Encontre rapidamente os melhores eventos acontecendo próximos a você no mapa. </p>
        <p text-justify>

          <ion-icon name="calendar" color="blu"></ion-icon>

          Veja a lista dos eventos que acontecerão. </p>
        <p text-justify>

          <ion-icon name="contacts" color="roxo"></ion-icon>

          Você também pode criar seus próprios eventos, ver avaliações e avaliar eventos em tempo real.
        </p>
      </ion-slide>
      <ion-slide>
        <p text-justify>
          <ion-icon name="musical-note" color="roxo"></ion-icon>
          <ion-icon name="brush" color="blu"></ion-icon>
          Está faltando festas perto de você? Ou eventos culturais? Aqui é possível sugerir a organizadores qual tipo você está interessado,
          e detalhes como melhor dia, público e preço.</p>
      </ion-slide>
    </ion-slides>
    <button id="Home-button9" ion-button color="balanced" block on-click="logout()">
      Sair </button>

  </div>

  <ng-template #elseBlock>
    <div class="bg">
      <ion-slides pager>

        <ion-slide>
          <p text-justify>
            <ion-icon name="beer" color="yel"></ion-icon>
            Encontre rapidamente os melhores eventos acontecendo próximos a você no mapa. </p>
          <p text-justify>

            <ion-icon name="calendar" color="blu"></ion-icon>

            Veja a lista dos eventos que acontecerão. </p>
          <p text-justify>

            <ion-icon name="contacts" color="roxo"></ion-icon>

            Você também pode criar seus próprios eventos, ver avaliações e avaliar eventos em tempo real.
          </p>
        </ion-slide>
        <ion-slide>
          <p text-justify>
            <ion-icon name="musical-note" color="roxo"></ion-icon>
            <ion-icon name="brush" color="blu"></ion-icon>
            Está faltando festas perto de você? Ou eventos culturais? Aqui é possível sugerir a organizadores qual tipo você está interessado,
            e detalhes como melhor dia, público e preço.</p>
        </ion-slide>
      </ion-slides>

      <form id="Home-form1">
        <ion-item id="Home-input2">

          <ion-input type="text" name="email" [(ngModel)]="usuario.email" placeholder="Insira seu e-mail"></ion-input>

        </ion-item>
        <ion-item id="Home-input3">

          <ion-input type="password" name="pass" [(ngModel)]="usuario.password" placeholder="Insira sua senha"></ion-input>
        </ion-item>
      </form>
      <ion-row>
        <ion-col col-6>

          <button id="Home-button1" color="balanced" block on-click="login(usuario)" ion-button>
            Entrar
          </button>
        </ion-col>

        <ion-col col-6>

          <button id="Home-button8" color="balanced" block on-click="goToCadastro()" ion-button>
            Cadastre-se
          </button>
        </ion-col>

      </ion-row>

    </div>
  </ng-template>

</ion-content>