    .ios, .md{
        Map-prox-page {


            .scroll{
                height: 150%
            }
    
            #map{
                width: 100%;
                height: 100%
            }

        }
    }
