<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu">
          <!--para menu aparecer no cantinho-->
        </ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Meus eventos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="use | async; else elseBlock">
    <ion-item-sliding *ngFor="let item of filteredItems">
      <ion-item text-wrap>
          <button ion-button color="danger" (click)="removeContact(item)">
              <ion-icon name="trash"></ion-icon>
            </button>
        <h2><b>{{item.event}}</b></h2>
        <h3><b>Endereço:</b> {{item.endereco}}</h3>
        <h3><b>Data de início:</b> {{item.month}}</h3>
        
        <button ion-button color="secondary" (click)="editContact(item)">
            <ion-icon name="create"></ion-icon>
          </button>
      </ion-item>
    </ion-item-sliding>
  </div>
  <ng-template #elseBlock> Faça login para ter acesso a essa página.</ng-template>

</ion-content>