<ion-header>
  <ion-navbar>


    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu">
          <!--para menu aparecer no cantinho-->
        </ion-icon>
      </button>
    </ion-buttons>

    <ion-title> Próximos eventos

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="use | async; else elseBlock">
  <button *ngIf="!showMe" ion-button (click)="show(true)" ><ion-icon name="arrow-dropdown" ></ion-icon> Mostrar eventos com descrição</button>
  <button ion-button *ngIf="showMe" (click)="show(false)" ><ion-icon name="arrow-dropup" ></ion-icon> Esconder descrição</button>

  <ion-item-sliding  *ngFor="let item of filteredItems" text-wrap>
    <ion-item >
        <ion-icon name="calendar" color="blu"> </ion-icon> <h2> {{item.event}}</h2>
      <!-- <h4>{{item.description}}</h4> -->
      <h4>ÍNICIO: {{item.month}} ({{item.timeStarts}}h)</h4>
      <h4>TÉRMINO: {{item.dayEnds}} ({{item.timeEnds}}h)</h4>

      <h4>TIPO: {{item.toppings}}</h4>
      <h4>LOCAL: {{item.endereco}}</h4>
      <div *ngIf="showMe">  
        <h4><b>DESCRIÇÃO:</b> {{item.description}}</h4>

      </div>
    </ion-item>
  </ion-item-sliding>  </div>
  <ng-template #elseBlock> Faça login para ter acesso a essa página.</ng-template>

</ion-content>



